@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,600;6..12,800&family=Poppins:wght@100;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,600;6..12,800&family=Playpen+Sans&family=Poppins:wght@100;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(./assets/bg2.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
}
#logo{
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border: 2px solid rgb(32, 32, 32);
    box-shadow: 2px 2px 2px 2px;
}
/* #score-bg{
    display: none;
    position:absolute; 

} */
.name-info{
    background-color: rgb(140, 97, 156);
    opacity: 0.8;
    border: 2px solid black;
    width: 78%;
    height: 18%;
    /* padding-top: 15px; */
    margin: 20px 0 20px 0;
    /* box-shadow: 2px 2px 2px 2px; */
    
}
.user-info{
    background-color: white;
    opacity: 0.7;
    width: 70%;
    height: 17%;
    /* padding-top: 15px; */
    margin: 20px 0 20px 7px;
    border: 2px solid black;
    box-shadow: 2px 2px 2px 2px;
    
}
.name{
    color: white;
    text-align: center;
}
.input{
    color: black;
    align-items: center;
    padding-top: 7px;

}
#Second{
    /* border: 4px solid black; */
    height: 278px;
    width: 25%;
    padding-top: 15px;
}
#Home{
    /* border: 2px solid red; */
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}
#icons{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    align-items: center;
}
#inst-btn{
    border-radius: 110%;
    width: 120px;
    height: 120px;
    border: 2px solid rgb(32, 32, 32);
    box-shadow: 2px 2px 2px 2px;
}
#information{
    /* border: 2px solid white; */
    width: 25%;
    height: 180px;
    margin-left: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#set-btn{
    border-radius: 100%;
    width: 120px;
    height: 120px;
    border: 2px solid rgb(32, 32, 32);
    box-shadow: 2px 2px 2px 2px;
}
#start-logo{
    border-radius: 120%;
    width: 90px;
    height: 90px;  
    
}
#start-btn{
    border: 2px solid rgb(32, 32, 32);
    box-shadow: 2px 2px 2px 2px;
    border-radius: 30px;
    width: 250px;
    height: 120px;
    background-color: rgb(174, 174, 174);
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* Instruciton.html */

#instruct-pg{
    background-color: rgb(212, 180, 242);
    width: 100vw;
    height: 100vh;
    border: 20px solid rgb(102, 0, 128);
}
#instruct{
    color: white;
    font-family: 'Playpen Sans', cursive;
    font-size: 60px;
}
#section1{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
}
#section1 img{
    height: 55px;
    width: 55px;
    margin: 15px 15px 15px 15px;
}
#section2{
    /* border: 2px solid red; */
    width: 220px;
    margin-top: 30px;
    margin-left: 130px;
}
#section3{
    /* border: 2px solid red; */
    width: 920px;
    height: 350px;
    background-color: rgb(218, 216, 216);
    margin-left: 300px;
    margin-top: 60px;
    background-color: rgb(102, 0, 128);
    color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px;
}
#section3 li{
    padding-top: 25px;
    padding-left: 10px;
    list-style-position: inside;
    font-family: 'Playpen Sans', cursive;
    font-size: 25px;
}


/* Selecting Page */

#select-bg{
    background-image: url(./assets/background.jpg);
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#home{
    /* border: 2px solid red; */
    width: fit-content;
    margin-left: 84%;
    padding-top: 10%;
}
#home img{
    height: 45px;
    width: 50px;
    border: 2px solid white;
    box-shadow: 0px 0px 6px 6px rgb(251, 251, 251, 0.5) ;
}
#questions{
    /* border: 2px solid red; */
    background-color: white;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    margin-left: 38%;
}
.subjects{
    background-color: white;
    width: 18%;
    text-align: center;
    border-radius: 10px;
    border: 3px solid black;
    box-shadow: 0px 0px 6px 6px rgba(186, 86, 186, 0.5) ;
}
#GK{
    font-size: 13px;
    
}
#sub{
    margin-top: 6px;
}
.subjects h1{
    color: black;
}
#selection{
    /* border: 5px solid black; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 6%;
}
#Sports{
    border: 2px solid black;
    margin-top: 5%;
    margin-left: 41%;
}



/* Game.html */

#game-bg{
    background-image: url(./assets/bg3.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}
#timer{
    color: white;
    font-family: 'Playpen Sans', cursive;
    margin-top: 40px;
    font-size: 30px;
    font-weight: bold;
    border: 4px solid rgb(186, 86, 186);
    box-shadow: 0px 0px 6px 6px rgba(186, 86 , 186, 0.4);
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#sec1{
    border: 9px solid rgb(186, 86, 186);
    border-radius: 80px;
    width: 80vw;
    height: 130px;
    margin: auto;
    box-shadow: 0px 0px 6px 6px rgba(186, 86 , 186, 0.4);
}
#border{
    padding-top: 4%;
}
#sec2{
    /* border: 2px solid rgb(186, 86, 186); */
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}
.options{
    border: 4px solid rgb(186, 86, 186);
    height: 200px;
    width: 300px;
    box-shadow: 0px 0px 6px 6px rgba(186, 86 , 186, 0.4) ;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sec1{ 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 20px;
}
#sec3{
    /* border: 2px solid rgb(186, 86, 186); */
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.container{
    border: 4px solid rgb(186, 86, 186); 
    height: 60px;
    width: 200px;
    box-shadow: 0px 0px 6px 6px rgba(186, 86 , 186, 0.4) ;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Playpen Sans', cursive;
}
#box1{
    margin-left: 45px;
}
#box4{
    margin-right: 40px;
}
#click{
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}
.button{
    border: 2px solid rgb(186, 86, 186);
    box-shadow: 0px 0px 6px 6px rgba(186, 86 , 186, 0.4) ;
    width: 140px;
    height: 60px;
    background-color: white;
    text-align: center;
    
}
input{
    font-size: larger;
    border: none;
    width: 100%;
    height: 100%;
    padding: 10px;
}
#skip-btn{
    margin-left: 25%;
    
}
#bck-btn{
    margin-right: 25%;
}
#click p{
    margin-top: 8px;
    font-size: 30px;
}
#back{
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-between;
}
#info-btn img{
    background-color: white;
    box-shadow: 0px 0px 6px 6px rgba(186, 86 , 186, 0.4) ;
}
#home-btn img{
    border: 2px solid white;
    box-shadow: 0px 0px 6px 6px rgba(186, 86 , 186, 0.4) ;
}
#back img{
    height: 70px;
    width: 70px;
    border-radius: 10px;
    margin: 12px 12px 8px 12px;
}


/* Score Page */ 

#score-bg{
    background-image: url(./assets/bg.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.score{
    color: black;
    width: 20%;
    /* padding-top: 10%; */
    margin-left: 30%;
}
.image img{
    height: 80px;
    border-radius: 10px;
    
}
#setting-btn img{
    margin-left: 250px;
    border: 2px solid black;
    box-shadow: 0px 0px 6px 6px rgb(203, 203, 203, 0.5) ;
}
#HOME-btn img{
    margin-left: 650px;
    border: 2px solid white;
    box-shadow: 0px 0px 6px 6px rgb(203, 203, 203, 0.5) ;
}
#container2{
    /* border: 2px solid red; */
    display: flex;
    margin-top: 10%;
}
#marks{
    padding-top: 15%;
}
#points{
    /* padding-top: 8%; */
    background-color: white;
    border: 2px solid black;
    box-shadow: 0px 0px 6px 6px rgb(203, 203, 203, 0.5) ;
    height: 6%;
}
#performance{
    background-color: white;
    border: 2px solid black;
    box-shadow: 0px 0px 6px 6px rgb(203, 203, 203, 0.5) ;
    margin-left: 30%;
    font-size: 13px;
    width: 40%;
}
#result{
    padding-top: 8%;
}